.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 285px;
  min-width: 100px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 2.5rem;
  max-height: 285px;
  overflow: auto;
  .card-header {
    border-bottom: var(--line);
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    .card-status {
      width: 30px;
      height: 30px;
      border-radius: 25px;
      background-color: red;
    }
  }
  div {
    color: var(--color-main);
    font-size: var(--font-size-6);
    font-weight: 500;
    margin: 1px;
    span {
      color: var(--color-main-border);
      opacity: .8;
      font-size: var(--font-size-5);
      font-weight: 500;
    }
  }
}

.card:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
