.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "LBC";
}
.create-btn {
  background-color: var(--color-main);
  color: white;
  border-radius: 5px;
  padding: 6px 15px;
  border: 0;
  font-weight: 500;
}
.error {
  color: var(--color-danger);
}
.main {
  position: relative;
  margin-top: 20px;
  top: 70px;
  overflow: auto;
  > svg {
    display: inline-block;
    position: fixed;
    top: 85px;
    left: 0;
    z-index: -1;
  }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}